<div class="mall-banner-box">
    <div class="mall-banner-frame">
        <!-- a href="http://store.kingdee.com/goods/view.action?id=271098" target="_blank"  class="mall-banner-panel banner-item"  rel="452011"  style="background:url('images/image_452011x80.jpg') no-repeat center top;"></a -->
        <a href="http://store.kingdee.com/goods/view.action?id=271098" target="_blank" class="mall-banner-panel banner-item" rel="452011">
            <div class="out">
                <div class="in"><img src="images/image_452011x80.jpg" alt="精斗云" height="400" /></div>
            </div>
        </a>
        <!-- a href="http://store.kingdee.com/goods/view.action?id=264773" target="_blank"  class="mall-banner-panel banner-item"  rel="452014"  style="background:url('images/image_452013x80.jpg') no-repeat center top;"></a -->
        <a href="http://store.kingdee.com/goods/view.action?id=264773" target="_blank" class="mall-banner-panel banner-item" rel="452014">
            <div class="out">
                <div class="in"><img src="images/image_452013x80.jpg" alt="记账王" height="400" /></div>
            </div>
        </a>
        <!-- a href="http://mall.kingdee.com/goods/view.action?id=447041" target="_blank"  class="mall-banner-panel banner-item"  rel="452019"  style="background:url('images/image_452018x80.jpg') no-repeat center top;"></a -->
        <a href="http://mall.kingdee.com/goods/view.action?id=447041" target="_blank" class="mall-banner-panel banner-item" rel="452019">
            <div class="out">
                <div class="in"><img src="images/image_452018x80.jpg" alt="EAS标准服务在线续签" height="400" /></div>
            </div>
        </a>
    </div>
    <a id="toleft" class="toleft pngfix" href="javascript:void(0);"></a>
    <a id="toright" class="toright pngfix" href="javascript:void(0);"></a>
</div>